.container {
  height: 100vh;
  padding: 25px 15px;
  width: 100%;
  font-family: "Inter", sans-serif;
}
.background {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 10, 31, 0.88);
  width: 100%;
  height: 100%;
  z-index: -1000;
}
.list {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    297deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 4, 8, 1) 100%
  );
  border-radius: 10px;
  padding: 4px;
}
.watched {
  color: rgb(0, 118, 78);
  margin-left: 12px;
  font-size: medium;
  font-weight: 600;
}

.containerDescription {
  margin-top: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.divNotNotification {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.divNotNotification h2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 800;
}

.sideBarSpace {
  width: 370px;
}
.listContainer {
  justify-content: flex-start;
}
@media (max-width: 900px) {
  .sideBarSpace {
    display: none;
  }
}

@media (max-width: 570px) {
  .listContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 112%;
  }
}
