@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.App {
  text-align: center;
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MuiInput-underline:before {
  left: 0;
  right: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(255, 255, 255, 0.646) !important;
  pointer-events: none;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #00ffd6 !important;
}

.MuiInputLabel-animated {
  color: white !important;
}

:root {
  --main-page-color: #000a1f;
  --second-page-color: #00ffd6;
  --second-page-color-dark: #2d655b;
  --main-page-color-light: #001441ed;
  --main-page-color-background-light: #000a1fe0;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(255, 255, 255, 0) !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(252, 0, 0, 0) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 15px !important;
  background: rgba(255, 255, 255, 0.224) !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(155, 253, 255, 0.39) !important;
}

html::-webkit-scrollbar {
  background-color: #00000000 !important;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #00000000 !important;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(129, 129, 129, 0.599);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(129, 129, 129, 0.977);
}

@media (max-width: 900px) {
  .playerComponent {
    display: none;
  }
}
