.likedVideos {
  background-color: #000a1fe0;
  min-height: 100vh;
  color: "#C4C4C4";
  display: flex;
}

.likedVideos svg {
  color: #c4c4c4;
}

.likedVideos button {
  border: none;
}
.likesContainer {
  width: 100%;
  height: 100%;
}

.sideBarSpace {
  min-width: 266px;
}

.currentLikesContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.noLikedSongsText {
  font-size: calc(20px + 2vw);
  color: white;
  font-family: "Inter", sans-serif;
}

.songsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .sideBarSpace {
    display: none;
  }
}
