.divPost {
  height: 100%;
}

.postContainer {
  background-color: #000a1fe0;
  min-height: 100vh;
  width: 100vw;
  padding: 1% 30px 0 30px;
}

.postContainer .back {
  color: rgb(255, 255, 255, 1);
  opacity: 0.5;
  margin-bottom: 1%;
}

.postContainer .back svg {
  height: 50px;
  width: 50px;
}

.postContainer .back:hover {
  opacity: 1;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
}
.postContainer .divPost {
  -webkit-box-shadow: 5px 5px 27px 14px rgba(0, 255, 214, 0.14);
  box-shadow: 5px 5px 27px 14px rgba(0, 255, 214, 0.14);
  border: 1px solid #00ffd6;
  border-radius: 13px;
  /* height: 57%; */
}

@media (max-width: 1400px) {
  .backgroundContainer {
    padding: 50px 0 0 0;
    background-color: #000a1f;
  }
}
@media (max-width: 500px) {
  .postContainer {
    padding: 0;
  }
  .userData {
    width: 90vw !important;
  }
  .postUserName {
    max-width: 75vw !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}
