.wholeContainer {
  color: white;
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background-color: #000a1f;
  background-image: url(../../images/svg/polygons.svg);
}

.conversations {
  background-color: #000a1fe0;
  height: 100vh;
  width: 30%;
  /* backdrop-filter: blur(50px); */
}

.convHead {
  padding: 10px;
  background-color: #000a1fe0;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.convTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  font-size: calc(1px + 5vw);
  margin: 0;
}

.chatSearch {
  height: 10px;
  padding: 10px;
  width: 80%;
  border: 0;
  border-radius: 15px;
}

.chatContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 70%;
  /* backdrop-filter: blur(30px); */
  background-color: #000a1ff7;
}

.receiver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100px;
  background-color: #08132a;
}

.recPc {
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.mCont {
  width: 100%;
  min-height: 20px;
  max-height: 25vh;
  padding-bottom: 10px;
  background-color: #000716e0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.messageInput {
  padding: 10px;
  width: calc(100% - 50px);
  border-radius: 15px;
  border: none;
  height: 12px;
}

.messagesContainer {
  width: 100%;
  height: calc(100% - 130px);
  overflow-y: scroll;
  gap: 10px;
  display: flex;
  flex-direction: column;
  background-color: #000a1f;
}

.resultWrapper {
  display: flex;
  gap: 5px;
}

.resultPic {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.resultInfo {
  display: flex;
  flex-direction: column;
}

.resultName {
  font-size: 15px;
  font-weight: 500;
}

.resultUsername {
  opacity: 0.7;
  letter-spacing: 0.5px;
}

.goBack {
  border: none;
  height: 40px;
  width: 40px;
}

.goBack svg {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  transition: 0.3s;
}

.goBack:hover svg {
  opacity: 1;
}

.scrollConv {
  max-height: calc(100vh - 176px);
  overflow-y: scroll;
  background-color: rgba(0, 2, 20, 0.62);
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.showConversationsContainer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../../images/logoicon.png);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000334;
  z-index: 2;
}
.showConversationsContainer:hover {
  background-color: #000a1fe0;
}

.conversationsResponsive {
  position: absolute;
  z-index: 1;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000a1f94;
}
@media (max-width: 768px) {
  .conversations {
    display: none;
    width: 100vw;
    height: 100vh;
    padding: 0;
  }
  .conversationsResponsive {
    display: block;
  }
  .chatContainer {
    width: 100%;
  }
  .showConversationsContainer {
    display: block;
  }
}
