* {
  margin: 0;
  padding: 0;
}

.containerLikedSongs {
  display: flex;
  flex-direction: column;
}

.containerLikedSongs h3 {
  font-size: 25px;
  color: white;
  margin-top: 15px;
  margin-bottom: 35px;
}

.likedSongs {
  display: flex;
  align-items: center;
  margin-left: 1%;
}

.likedSongs img {
  border-radius: 50%;
  background-color: gray;
}

.containerImageHeart {
  position: relative;
}

.coverLikedSongs {
  height: 70px;
  width: 70px;
}

.containerImageHeart .heart {
  position: absolute;
  width: 30px;
  border-radius: 50%;
  background-color: transparent;
  bottom: 0;
  right: 0;
}

.likedSongs p {
  font-size: 20px;
  font-weight: 200;
  color: white;
  margin-left: 10px;
}
