.fondo {
  position: fixed;
  left: 0;
  top: 0;
  background: #000a1f;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

.containerSideBar {
  min-width: 266px;
}

.containerProfile {
  width: 100%;
  height: 100vh;
}

.containerProfileData {
  min-height: 150px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 5px 25px 4px rgba(0, 0, 0, 0.7);
}

.containerImgName {
  display: flex;
  align-items: center;
}

.containerImgName img {
  width: calc(70px + 5vw);
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: -3px 10px 33px 1px rgba(0, 0, 0, 0.75);
}

.artistData {
  position: relative;
  margin-left: 20px;
}

.artistData .badge {
  display: flex;
  align-items: center;
  width: 160px;
  top: -35px;
}

.artistData .badge p {
  font-size: 18px;
  font-weight: 300;
  color: white;
  margin-left: 4px;
}

.artistData .badge img {
  width: 25px;
  height: 25px;
}

.artistData h1 {
  color: white;
  font-size: calc(5vw + 1px);
  font-weight: 900;
}

.followersCount {
  color: white;
  font-size: 13.5px;
  font-weight: 200;
  text-align: center;
}

.containerFollowFollowers {
  display: flex;
  flex-direction: row;
}

.optionsContainer {
  position: relative;
}

.optionsButton {
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 28px;
}

.optionsButton:hover {
  color: rgb(208, 208, 208);
}

.optionsModal {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.contentContainer {
  padding: 20px 35px;
}

.playFollowContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.playFollowMessageContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.playFollowContainer .playButton:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.popuAndLiked .popu {
  width: 60%;
}

.liked {
  width: 100%;
}

.allPosts {
  margin-top: 50px;
}

.noPostsYet {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 100;
  font-size: 30px;
  margin: auto;
  margin-top: 80px;
}

.buttonPost {
  margin-top: 25px;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  font-size: 25px;
  color: black;
  font-weight: 400;
}

.buttonPost:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}
.bannerContainer {
  height: 100%;
  background-color: #000a1f42;
}

.banner {
  position: absolute;
  z-index: -10 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar {
  width: 100px;
}

.editProfile {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

.profileUserName {
  min-width: 200px;
  max-width: 50vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.followButton {
  height: 48px;
  margin-left: 30px;
  font-size: 18px;
  color: black !important;
  font-weight: 500;
  background-color: rgba(0, 255, 214, 1) !important;
  width: 110px;
  text-transform: none;
}

.followButton :hover {
  background-color: var(--main-page-color) !important;
}

.followingButton {
  height: 48px;
  margin-left: 30px;
  font-size: 18px;
  color: black !important;
  font-weight: 500;
  background-color: rgb(111, 202, 187) !important;
  width: 110px;
  text-transform: none;
}

.followingButton :hover {
  background-color: rgba(0, 255, 214, 1) !important;
}

@media (max-width: 1140px) {
  .popu {
    display: none;
  }
}

@media (max-width: 900px) {
  .containerSideBar {
    display: none;
  }
}

@media (max-width: 560px) {
  .contentContainer {
    padding: 20px 10px;
  }
  .popuAndLiked {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .popu {
    width: 100% !important;
    max-width: 90vw !important;
  }
  .containerProfile {
    padding-top: 80px;
  }
  .containerProfileData {
    flex-direction: column;
  }
  .containerImgName {
    flex-direction: column;
  }
  .profileUserName {
    max-width: 90vw;
  }
}
