/* Because of the SVG inliner, these don't work for icons */
.vjs-theme-fantasy {
  --vjs-theme-fantasy--primary: aqua !important;
  --vjs-theme-fantasy--secondary: aqua !important;
  transition: all 0.2s ease;
}
.vjs-theme-fantasy .vjs-big-play-button {
  transition: all 0.2s ease;
  color: var(--vjs-theme-fantasy--secondary);
}
.vjs-theme-fantasy:hover .vjs-big-play-button,
.vjs-theme-fantasy.vjs-big-play-button:focus {
  background-color: transparent;
  color: aqua;
}
.vjs-theme-fantasy .vjs-big-play-button:hover {
  color: white;
}
.vjs-theme-fantasy .vjs-play-control .vjs-icon-placeholder::before {
  height: 1.3em;
  width: 1.3em;
  margin-top: 0.2em;
  border-radius: 1em;
  border: 3px solid rgba(0, 1, 33, 0) !important;
  top: 2px;
  left: 9px;
  line-height: 1.1;
}

.vjs-theme-fantasy .vjs-play-control:hover .vjs-icon-placeholder::before {
  border: 3px solid rgba(0, 1, 33, 0) !important;
}
.video-js .vjs-control-bar {
  background: rgb(0, 3, 24) !important;
  background: linear-gradient(
    0deg,
    rgb(0, 2, 18) 0%,
    rgba(0, 16, 37, 0) 100%
  ) !important;
}

.vjs-poster {
  filter: brightness(45%);
  background-size: contain;
  background-position: center;
  object-fit: cover;
}
.video-js {
  width: 100%;
  max-width: calc(45vh * 3);
  min-height: 45vh;
  border-radius: 15px;
  overflow: hidden;
}
.video-js .vjs-tech {
  border-radius: 15px;
  overflow: hidden;
}
.video-js .vjs-text-track-display div {
  color: blueviolet;
}
.video-js .vjs-time-tooltip {
  background-color: rgb(0, 11, 34);
  color: white;
  font-family: "Inter", sans-serif;
}
.vjs-mouse-display .vjs-time-tooltip {
  background-color: aqua;
  color: rgb(0, 11, 34);
}
.video-cont {
  display: flex;
  width: 100%;
  justify-content: center;
}
