.allContainer {
  display: flex;
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
}

.fondo {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000a1f;
  min-height: 100vh;
  background-image: url(../../images/svg/polygons.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  z-index: -1000;
}

.allFiltersContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonFilter {
  justify-content: center;
  display: flex;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.filter {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000a1fe0;
  min-height: 100vh;
  width: 100vw;
  z-index: -999;
}
.sideBarSpace {
  min-width: 266px;
}

.title {
  margin-top: 70px;
}
.paperStyle {
  width: 100%;
  max-width: 50vw;
  color: black;
}

.containerUsersPosts {
  padding-top: 6vh;
  width: 100%;
}

@media (max-width: 900px) {
  .sideBarSpace {
    min-width: 0px;
  }
  .containerUsersPosts .post {
    padding: 50px 0px 50px 0;
    width: 100vw;
    height: 380px !important;
    max-height: 390px !important;
  }
}
